<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
   <link rel="stylesheet" type="text/css" href="../library/css/bootstrap.min.css">
   <script type="text/javascript" src="../library/js/bootstrap.min.js"></script>

   <script type="text/javascript" src="../library/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../controller/controller_cliente.js"></script>
</head>
<body>
    <div class="row">
        <h3 aling="center">Registro de Cliente</h3>
        <div id="panel_registro" aling="center" >
            <table>
                <tr>
                    <td><label for="nombre">Nombre</label></td>
                    <td><input type="text" id ="nombre" placeholder="Nombre"></td>                    
                </tr>
                <tr>
                    <td><label for="apellido">Apellido</label></td>
                    <td><input type="text" id="apellido" placeholder="Apellido"></td>
                </tr>
                <tr>
                    <td><label for="ci">Cedula Identidad</label></td>
                    <td><input type="text" id="ci" placeholder="Numero de identidad"></td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input type="email" name="" id="email" placeholder="ejemplo@compania.com"></td>
                </tr>
                <tr>
                    <td colspan="2" aling="center" >
                        <button onclick="registrarCliente()">Registrar</button>
                    </td>
                </tr>   
            </table>
        </div>
        <div id = "panel_listado">
          
        </div>
    </div>
</body>
</html>
